.container {
    padding: .5rem 2%;
}

.notification {
    background: #0093E3;
    border-radius: 4px;
    color: white;
    padding: 1rem;
}

.tab {
    display: flex;
    list-style: none;
    margin: 0;
    margin-bottom: 1rem;
    padding: 0;
}
  
.tab-item + .tab-item {
    margin-left: 1rem;
}
  
.tab-content {
    background: #f1fafa;
    padding: .5rem;
}


.text {
    padding: 1em;
    border-radius: 4px;
    background: #f2f2f2;
    margin-bottom: 1rem;
}
  
.text-error {
    color: red;
    background: #feeeea;
}
